<div class="container">
  <div class="row text-center justify-content-center">
    <form class="col-6 mt-3" action="/restaurants/{{ restaurant._id }}/edit" method="POST">

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">餐廳名稱</span>
        </div>
        <input type="text" class="form-control" placeholder="中文" name="name" value="{{ restaurant.name }}"
          aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">餐廳名稱</span>
        </div>
        <input type="text" class="form-control" placeholder="英文" name="name_en" value="{{ restaurant.name_en }}"
          aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">餐廳類別</span>
        </div>
        <input type="text" class="form-control" placeholder="category" name="category" value="{{ restaurant.category }}"
          aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">餐廳圖片</span>
        </div>
        <input type="text" class="form-control" placeholder="image URL" name="image" value="{{ restaurant.image }}"
          aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">餐廳地址</span>
        </div>
        <input type="text" class="form-control" placeholder="location" name="location" value="{{ restaurant.location }}"
          aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">餐廳電話</span>
        </div>
        <input type="text" class="form-control" placeholder="phone numbers" name="phone" value="{{ restaurant.phone }}"
          aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">餐廳評分</span>
        </div>
        <input type="text" class="form-control" placeholder="rating" name="rating" value="{{ restaurant.rating }}"
          aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">餐廳介紹</span>
        </div>
        <input type="text" class="form-control" placeholder="description" name="description"
          value="{{ restaurant.description }}" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Google Map</span>
        </div>
        <input type="text" class="form-control" placeholder="Google Map UR" name="google_map"
          value="{{ restaurant.google_map }}" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default">
      </div>

      <button class="btn btn-primary mb-3" type="submit">修改</button>
      <a href="/"><button class="btn btn-primary ml-2 mb-3">返回</button></a>
    </form>
  </div>
</div>