<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="{{ keyword }}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="card-columns">

        {{#each restaurants}}
        <a href="./restaurants/{{ this._id }}" class="text-secondary">
          <div class="card mb-3">

            <form action="./restaurants/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;"
              id="delete-btn">
              <button type="submit" style="float:right" class="btn btn-link"><i class="fas fa-times fa-lg"></i></button>
            </form>

            <img class="card-img-top" src="{{ this.image }}" alt="">
            <div class="card-body p-3">
              <h6 class="card-title mb-1">{{ this.name }}</h6>

              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils fa-lg"></i> {{ this.category }}
              </div>

              <div class="d-flex justify-content-between">
                <span class="badge badge-pill badge-danger font-weight-normal">
                  {{ this.rating }}
                  <i class="fas fa-star fa-lg"></i>
                </span>

                <div>
                  <a href="./restaurants/new"><i class="fas fa-plus fa-lg"></i></a>
                  <a href="./restaurants/{{ this._id }}/edit"><i class="fas fa-edit fa-lg"></i></a>
                  <a href="./restaurants/{{ this._id }}"><i class="fas fa-info-circle fa-lg"></i></a>
                </div>
              </div>

            </div>
          </div>
        </a>
        {{/each}}

      </div>
    </div>
  </div>
</div>